{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 style='padding: 117px 0px 55px 0px; text-align: center'>{{ title }}</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}

                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}
                    <div class="col-md-6">
                        {{ f }}
                    </div>
                {% endfor %}


            </div>

            <a href="{% url 'social:begin' 'github' %}">Войти через Github</a>
            <button type="submit" class="default form__button" style="margin-top: 50px">Login</button>
            <a href="{% url 'register' %}">Are you haven't an account?</a>

        </form>
    </div>

{% endblock %}